# This is a Prettier configuration file written in YAML
# https://prettier.io/docs/en/configuration.html

# Format options
# https://prettier.io/docs/en/options.html

# Specify the line length that the printer will wrap on.
printWidth: 80

# Specify the number of spaces per indentation-level.
tabWidth: 2

# Indent lines with tabs instead of spaces.
useTabs: false

# Add a semicolon at the end of every statement.
semi: true

# Use single quotes instead of double quotes.
singleQuote: true

# Print trailing commas wherever possible when multi-line.
# Valid options: none | es5 | all
trailingComma: "es5"

# Print spaces between brackets in object literals.
bracketSpacing: true # { foo: bar }

# Include parentheses around a sole arrow function parameter.
# Valid options: avoid | always
arrowParens: "avoid" # x => x

endOfLine: "lf"
